/* Font Montserrat */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat";
}

body {
	background: linear-gradient(
		116.82deg,
		#052b8d 0%,
		rgba(39, 117, 169, 0.869792) 50%,
		rgba(70, 185, 195, 0.75) 100%
	);
	background-repeat: no-repeat;
	min-height: 100vh;
}

.resalta {
	@apply font-bold text-primary;
}

.input {
	@apply w-full p-2 text-gray-700 transition duration-500 border-b-4 rounded focus:outline-none focus:border-info;
}

.label-input {
	@apply block mb-1 ml-1 text-sm font-bold text-primary;
}

.refresh-btn {
	@apply px-4 bg-yellow-600 rounded-full hover:bg-yellow-500 focus:outline-none;
}
